<div class="container" Border [borderConfig]="borderConfig">
  <div class="table-action-bar">
    <label>{{Label}}</label>
    <mat-form-field *ngIf="Search" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search">
    </mat-form-field>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th *ngIf="Select" Color [backgroundColor]="headerBackgroundColor">
          <mat-checkbox></mat-checkbox>
        </th>
        <th *ngIf="No" Color [backgroundColor]="headerBackgroundColor" [color]="headerColor">No</th>
        <th *ngFor="let column of columns;" Color [backgroundColor]="headerBackgroundColor"
            [color]="headerColor">{{column.Equivalent}}<span class="unit">{{column.Unit}}</span></th>
        <th *ngIf="Action" Color [backgroundColor]="headerBackgroundColor" [color]="headerColor">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableData;let index = index;">
        <td *ngIf="Select">
          <mat-checkbox></mat-checkbox>
        </td>
        <td *ngIf="No" Color [color]="bodyColor">{{index + 1}}</td>
        <td *ngFor="let column of columns;" Color [color]="bodyColor">
          <label *ngIf="column?.outputs?.read?.name">{{row[column.outputs.read.name]}}</label>
        </td>
        <td *ngIf="Action" Color [color]="bodyColor">Action</td>
      </tr>
      </tbody>
    </table>
    <div class="paginator" *ngIf="Paginator">
      <mat-label>item per page</mat-label>
      <div class="options">
        <mat-select [value]="5">
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="25">25</mat-option>
          <mat-option [value]="100">100</mat-option>
        </mat-select>
      </div>
      <mat-label> page 1 of 1</mat-label>
    </div>
  </div>
</div>
